<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header">
</head>
<body>

<div th:replace="layout/bodyHeader :: bodyHeader"></div>

<div class="container">
  <button class="btn btn-secondary" onclick="history.back()">돌아가기</button>
  <button id="btn-update" class="btn btn-warning">수정</button>
  <div  th:if="${board.user.id == principal.username}">
    <button id="btn-delete" class="btn btn-danger">삭제</button>
  </div>
  <br><br>
  <div>
    글 번호 : <span id="id"><i th:text="${board.id}"></i></span>
    작성자 : <span><i th:text="${board.user.username}"></i></span>
  </div>
  <br>
  <div>
    <h3 th:text="${board.title}"></h3>
  </div>
  <hr>
  <div>
    <div th:text="${board.content}"></div>
  </div>
</div>

<div th:replace="layout/footer :: footer"></div>

<script src="/js/board.js"></script>

</body>
</html>
